:root {
  --bg: #262626;
  --color: #FFFAFF;
}
[data-theme="light"] {
  --bg: #FFFAFF;
  --color: #262626;
}
[data-theme="dark"] {
  --bg: #262626;
  --color: #FFFAFF;
}

html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  background-color: var(--bg);
  font-family: 'Lato', sans-serif;
  color: var(--color);
  transition: background-color 0.5s;
}
button:focus {
  outline-width: 0;
}
header {
  display: flex;
}
header > nav {
  display: inline-flex;
}
header > nav > a {
  text-decoration: none;
  color: var(--color);
  margin-left: 2vh;
  transition: transform 1s;
  align-self: center;
  font-size: 20px;
}
header > nav > a:hover {
  transform: scale(1.1);
}
.toggle-mode {
  background-color: var(--bg);
  border: none;
  margin-left: auto;
  transition: transform 1s, background-color 0.5s;
  color: var(--color);
}
.toggle-mode:hover {
  transform: scale(1.1);
}
div {
  margin-bottom: 5vh;
}
main {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#projects {
  display: inline-grid;
}
#projects > div > a {
  text-decoration: none;
  color: var(--color);
}
#projects > div {
  transition: transform 1s;
}
#projects > div:hover {
  transform: scale(1.05);
}
footer {
  margin-top: 5vh;
  border-top: 1px solid var(-color);
  border-radius: 10px;
}
footer a{
  text-decoration: none;
  color: var(--color);
  margin-left: 5vh;
}
footer a i {
  transition: transform 1s;
}
footer a i:hover {
  transform: scale(1.1);
}
footer h5 {
  transition: transform 1s;
}
footer h5:hover {
  transform: scale(1.1);
}
/*
Webkit keyframes slide-in-left
*/
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*
Webkit keyframes slide-in-right
*/
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* Footer */
footer {
	-webkit-animation: slide-in-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* Header */
header {
	-webkit-animation: slide-in-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* Main */
main {
	-webkit-animation: slide-in-right 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
